body {
  background-color: black !important;
  color: white !important;
  font-family: Comfortaa !important;
  font-size: small !important;
}
/* scroll behavior on body container */
@media screen and (min-width: 992px) {
  .bodyContainer {
    overflow-y: scroll;
    max-height: 100vh;
    margin-top: 10rem;
  }
}

/* hover effects */
.button:hover {
  opacity: 1 !important;
}

.zoom:hover {
  transform: scale(1.1);
  transition: all 0.1s ease-in;
}
